In [1]:
#!pip install pyarrow

In [2]:
import pandas as pd
import random
import pyarrow as pa
import pyarrow.parquet as pq
import time

# too see max columns
pd.set_option('display.max_columns',None)

In [8]:
churn_df = pd.read_parquet("../Data/churn.parquet")

In [9]:
churn_df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,4836028,Female,0,Yes,No,1,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,2166565,Male,0,No,No,34,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,5724784,Male,0,No,No,2,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,2630373,Male,0,No,No,45,No,No phone service,DSL,Yes,No,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,1700858,Female,0,No,No,2,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [10]:
churn_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043000 entries, 0 to 7042999
Data columns (total 21 columns):
 #   Column            Dtype
---  ------            -----
 0   customerID        int64
 1   gender            object
 2   SeniorCitizen     int64
 3   Partner           object
 4   Dependents        object
 5   tenure            int64
 6   PhoneService      object
 7   MultipleLines     object
 8   InternetService   object
 9   OnlineSecurity    object
 10  OnlineBackup      object
 11  DeviceProtection  object
 12  TechSupport       object
 13  StreamingTV       object
 14  StreamingMovies   object
 15  Contract          object
 16  PaperlessBilling  object
 17  PaymentMethod     object
 18  MonthlyCharges    float64
 19  TotalCharges      object
 20  Churn             object
dtypes: float64(1), int64(3), object(17)
memory usage: 1.1+ GB

In [11]:
churn_df.describe()

         customerID  SeniorCitizen        tenure  MonthlyCharges
count  7.043000e+06   7.043000e+06  7.043000e+06    7.043000e+06
mean   4.999925e+06   1.621468e-01  3.237115e+01    6.476169e+01
std    2.886951e+06   3.685855e-01  2.455774e+01    3.008791e+01
min    2.000000e+00   0.000000e+00  0.000000e+00    1.825000e+01
25%    2.499645e+06   0.000000e+00  9.000000e+00    3.550000e+01
50%    4.998624e+06   0.000000e+00  2.900000e+01    7.035000e+01
75%    7.500639e+06   0.000000e+00  5.500000e+01    8.985000e+01
max    9.999997e+06   1.000000e+00  7.200000e+01    1.187500e+02